.virtual-keyboard__button {
    background: transparent;
    border: none;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 0;
    text-align: inherit;
    width: auto;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.virtual-keyboard__button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
