@import './_button-reset';

.virtual-keyboard {
    animation: vk-animation-slide 250ms ease-in-out 0s normal;
    background-color: #eeeeee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    margin: auto;
    max-width: 1440px;
    padding: 25px;
    position: fixed;
    right: 0;

    $vk: &;

    &__close {
        background-color: #cccccc;
        border-radius: 50%;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        height: 35px;
        line-height: 35px;
        position: absolute;
        right: 25px;
        text-align: center;
        top: -16px;
        width: 35px;

        &::after {
            content: 'X';
            display: block;
            color: #ffffff;
            font-family: Roboto, sans-serif;
            font-size: 24px;
        }
    }

    &__keys {
        position: relative;
    }

    &__keys-row,
    &__control-keys {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    &__key {
        background: #ffffff;
        border: 2px solid rgba(0, 0, 0, 0.01);
        border-radius: 10px;
        box-shadow: 0 4px 1px 0.4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        flex: 1 1 100%;
        flex-flow: column wrap;
        font-family: Roboto, sans-serif;
        font-size: 24px;
        margin: 10px;
        max-width: 100px;
        padding: 15px;
        position: relative;
        text-align: left;

        &:active {
            box-shadow: 0 2px 1px 0.4px rgba(0, 0, 0, 0.1);
            transform: translateY(2px);
        }

        &::after {
            content: attr(data-value);
            display: block;
        }

        &--control-key {
            max-width: inherit;

            &::after {
                content: none;
            }
        }

        &--space-bar {
            flex: 10;
        }

        &--caps {
            flex: 2;

            &::after {
                content: '';
                display: block;
                height: 8px;
                background-color: #cccccc;
                border: 1px solid rgba(0, 0, 0, 0.01);
                border-radius: 50%;
                position: absolute;
                right: 15px;
                top: 15px;
                width: 8px;
            }
        }

        &--backspace {
            flex: 2;
        }
    }

    &--caps {
        #{$vk}__key {
            &::after {
                content: attr(data-value-uppercase);
            }

            &--control-key {
                &::after {
                    content: none;
                }
            }

            &--caps {
                &::after {
                    content: '';
                    background-color: #00ff00;
                }
            }
        }
    }

    &--caps-lock {
        #{$vk}__key {
            &--caps {
                &::after {
                    content: '';
                    background-color: #ffbb00;
                }
            }
        }
    }
}

@keyframes vk-animation-slide {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 0;
    }
}

// shame file for workarounds/hacks
@import './_shame';
