.virtual-keyboard {
    position: absolute;
    bottom: 0;

    $vk: &;

    &__keys-row,
    &__control-keys {
        display: flex;
        justify-content: center;
    }

    &__key {
        width: 70px;
        padding: 15px;
        display: flex;

        &::after {
            content: attr(data-value);
            display: block;
        }

        &--control-key {
            max-width: inherit;
        }

        &--space-bar {
            flex: 10;
        }

        &--caps {
            flex: 2;
        }

        &--backspace {
            flex: 2;
        }
    }

    &--caps {
        #{$vk}__key {
            &::after {
                content: attr(data-value-uppercase);
            }
        }
    }
}

// shame file for workarounds/hacks
@import './_shame';
